In [4]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pyodbc
import pandas as pd

# Definir o caminho para o banco de dados Access
caminho_bd = r'C:\Users\scitr\anaconda_projects\access_pandas_sqlite\Testeo_Multivariado.accdb'


# Definir a string de conex√£o
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};'
    r'DBQ=' + caminho_bd + ';'
)
# Conectar ao banco de dados
conn = pyodbc.connect(conn_str)
# Obter o nome de todas as tabelas
cursor = conn.cursor()
cursor.tables()
tabelas = [row.table_name for row in cursor if row.table_type == 'TABLE']

# Mostrar as tabelas
display (tabelas)
# Ler uma tabela para um DataFrame do pandas
df = pd.read_sql('SELECT * FROM Experimentos', conn)
display (df.head())
display (df.describe())
# Fechar a conex√£o
conn.close()

['Errores al guardar Autocorrecci√≥n de nombres', 'Experimentos']

C:\Users\scitr\AppData\Local\Temp\ipykernel_360508\2412021787.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM Experimentos', conn)

,k,d,smoth,day mult,sem mult,long index,maxLong,minLong,short index,maxShort,minShort,long+short,maxInd,minInd,Campo1,Campo15
0,9.0,5.0,5.0,6.0,4.0,1.560497,1.686117,0.969094,1.428452,1.583673,1.00000,2.229095,2.327017,0.989011,None,None
1,9.0,5.0,5.0,6.0,5.0,1.564246,1.693653,0.969094,1.365946,1.589206,0.96771,2.136674,2.263316,0.988012,None,None
2,9.0,5.0,5.0,6.0,6.0,1.564246,1.693653,0.969094,1.329622,1.589206,0.96771,2.079856,2.263316,0.988012,None,None
3,16.0,8.0,6.0,7.0,4.0,1.600395,2.315891,0.920301,1.273194,1.634703,1.00000,2.037613,3.483290,1.000000,None,None
4,16.0,8.0,6.0,7.0,5.0,1.600395,2.315891,0.920301,1.225437,1.634703,1.00000,1.961184,3.483290,1.000000,None,None

,k,d,smoth,day mult,sem mult,long index,maxLong,minLong,short index,maxShort,minShort,long+short,maxInd,minInd
count,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000,4014.000000
mean,12.394619,5.071749,3.695067,6.140135,4.143498,0.901124,1.240562,0.748064,0.864058,1.297302,0.770546,0.796452,1.356884,0.669435
std,2.363383,1.741115,1.696860,0.732878,1.167863,0.176966,0.172638,0.090799,0.145685,0.082142,0.105408,0.269811,0.251803,0.160228
min,9.000000,2.000000,1.000000,5.000000,2.000000,0.464472,1.000000,0.442641,0.498681,1.030318,0.475413,0.262445,1.000000,0.255052
25%,10.000000,4.000000,2.000000,6.000000,3.000000,0.777686,1.109829,0.695054,0.762302,1.240330,0.695619,0.606320,1.186322,0.552844
50%,12.000000,5.000000,4.000000,6.500000,4.000000,0.883230,1.222241,0.740053,0.854521,1.287480,0.767700,0.751873,1.301235,0.664778
75%,15.000000,6.000000,5.000000,7.000000,5.000000,1.009329,1.338713,0.791487,0.960342,1.331927,0.845760,0.957369,1.481909,0.791516
max,16.000000,8.000000,6.000000,7.000000,7.000000,1.600395,2.315891,1.000000,1.538540,1.681692,1.000000,2.229095,3.483290,1.000000